/*  your css code here. If applicable */
table {
  border-collapse: collapse;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: orange;
  width: 100%;
}


 th, td {
  border-width: 1px;
  border-style: solid;
  border-color: orange;
  padding: 3px 5px;
  text-align: center;
}

th {
  background-color: #888888;
  color: white;
}

.sub-total-text {
  text-align: right;
}