/*  your css code here. If applicable */

table {
  width: 100%;
  border-collapse: collapse;
  border-style: solid;
  border-color: orange;
  border-width: 0 0 1px 1px;
}

 th, td {
  border-width: 1px;
  border-style: solid;
  border-color: orange;
  padding: 3px 5px;
  text-align: center;
}

th {
  background-color: #888888;
  color: white;
}

.sub-total-text {
  text-align: right;
}